/* tablets (768px y más) */
@media (min-width: 768px) {
  /* body {
    background-color: aqua !important;
  } */

  .header-container {
    height: 2rem !important;
  }

  .navbar-container-extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;

    .logo-container {
      img {
        height: 3rem;
      }

      a {
        img {
          height: 1.8rem;
        }
      }
    }
  }

  .navbar-container {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo-container {
      /* background-color: blue; */
      width: 50%;
      height: 5rem;
      display: flex;
      justify-content: start;
      padding-left: 2rem;
    }

    .buttons-container {
      /* background-color: #997d97; */

      height: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .button,
      .themeSelect {
        width: 30%;
      }
    }
  }

  .search-container {
    height: 8rem;
    .search-box {
      form {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .suggestion-container {
    p {
      padding: 0.5rem;
    }
  }

  .suggestion-card-container {
    /* background-color: #80687d; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;

    /* #suggestion {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      gap: 1.5rem;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    } */

    #suggestion {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .trending-container {
    p {
      padding: 0.5rem;
    }
  }

  .trending-card-container {
    #trending {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .etapas {
    /* background-color: #110038; */
    padding: 1rem;
    display: none;

    .header {
      /* display: none; */

      height: 3rem;
      background: linear-gradient(to right, #4180f6 0%, #f7c9f3 100%);
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      position: relative;

      p {
        color: aliceblue;
        font-size: smaller;
        /* padding: 0.5rem; */
        font-weight: bolder;

        flex-grow: 1;
      }

      img {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 1rem;
        width: auto;
      }
    }

    .video-container {
      height: 30rem;

      video {
        height: 30rem;
      }
    }
  }
}

/* notebooks - pc's (1024px y más) */
@media (min-width: 1024px) {
  /* body {
    background-color: red !important;
  } */

  nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .search-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .result-card-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .suggestion-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .suggestion-card-container {
    padding-left: 4rem;
    padding-right: 4rem;

    #suggestion {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
    }
  }

  .trending-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .trending-card-container {
    padding-left: 4rem;
    padding-right: 4rem;
    #trending {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
    }
  }

  .etapas {
    /* background-color: #110038; */
    padding: 1rem;
    display: none;

    .header {
      /* display: none; */

      height: 3rem;
      background: linear-gradient(to right, #4180f6 0%, #f7c9f3 100%);
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      position: relative;

      p {
        color: aliceblue;
        font-size: smaller;
        /* padding: 0.5rem; */
        font-weight: bolder;

        flex-grow: 1;
      }

      img {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 1rem;
        width: auto;
      }
    }

    .video-container {
      height: 45rem;

      video {
        height: 45rem;
      }
    }
  }
}
